
ConnectionType=initiator

BeginString=FIX.4.4
SenderCompID=ABCD
TargetCompID=ABCD

HeartBtInt=15
SocketConnectPort=1234
SocketConnectHost=localhost

#SocketAcceptPort=1234
StartTime=00:00:01
EndTime=23:59:00
FileLogPath=logs
#FileStorePath=fixdb
JdbcDriver=com.mysql.jdbc.Driver
JdbcURL=jdbc:mysql://localhost/quickfix-initiat
JdbcUser=root
JdbcPassword=
JdbcLogHeartBeats=Y
