[SESSION]
ConnectionType=acceptor
BeginString=FIX.4.4
SenderCompID=ABCD
TargetCompID=ABCD
SocketAcceptPort=1234
StartTime=00:00:01
EndTime=23:59:00
FileLogPath=logs
#FileStorePath=fixdb
JdbcDriver=com.mysql.jdbc.Driver
JdbcURL=jdbc:mysql://localhost/quickfix-accept
JdbcUser=root
JdbcPassword=
JdbcLogHeartBeats=Y
